@model Leson.Models.SiteResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parse</title>
</head>
<body>
    
    <h1>@Model.reqtoken</h1>
    <h1>@Model.accestoken</h1>
</body>
</html>
